<div class="container">
  
  <section class="breadcrumbs">
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li>{{ title }}</li>
    </ul>
  </section>

  <h1>{{ title }}</h1>
  
  <div class="hold">
    <aside>
      <app-filters></app-filters>
    </aside>
  
    <ul class="products">
      <div *ngFor="let product of products">
        <li>
          <a [routerLink]="['/products', product.id]">
            <div class="image">
              <img src="../../../assets/images/products/{{product.image}}" alt="{{ product.name }}" />
            </div>
            <div class="flex">
              <div>
                <h3>{{ product.name }}</h3>
                <h4>{{product.attributes[0].short_description}}</h4>
              </div>
              <div class="price">${{ product.attributes[0].sizes[0].price }}</div>
            </div>
          </a>
        </li>
      </div>
    </ul>
  </div>
  
</div>