<div id="overlay" class="overlay"></div>
<footer>
    <div class="container">
        <div class="name">
            NiceSkin
        </div>

        <div class="menu">
            <ul>
                <span>HELP</span>
                <li>Shipping</li>
                <li>Payment</li>
                <li>Return</li>
                <li>Contact</li>
            </ul>

            <ul>
                <span>Nice</span>
                <li>About</li>
                <li>Terms & Conditions</li>
                <li>Privacy Policy</li>
            </ul>
        </div>
    </div>

    <div class="copyrights">
        <p>Images and Texts <a href="https://versedskin.com/" target="_blank">Versed</a> and <a href="https://theordinary.com/en-br/" target="_blank">The Ordinary</a>. Design insipiration <a href="https://www.behance.net/gallery/113682895/EcommerceDesign-Direction?tracking_source=search_projects|gifts+ecommerce&l=152&" target="_blank">Hrvoje Grubisic</a> and <a href="https://www.behance.net/gallery/133766085/VERSED-E-COMMERCE?tracking_source=search_projects|beauty+ecommerce&l=104&" target="_blank">Tetiana Ivanova</a>.
        Development <a href="https://www.linkedin.com/in/sarassilvaf/" target="_blank" title="Linkedin Sara Silva">Sara Silva</a>.</p>
    </div>
</footer>