<button (click)="filter()" class="btn">Filter</button>

<div id="filter-hold" class="filters">
    <div class="mobile">
        <span>Filter by:</span>
        <button (click)="filter()" class="close">Close</button>
    </div>

    <form action="">
        <div class="title">Category</div>

        <div class="flex">
            <input type="checkbox" id="" name="" value="Body Care">
            <label for="Body Care">Body Care</label><br>
        </div>
        <div class="flex"> 
            <input type="checkbox" id="" name="" value="Body Care">
            <label for="Body Care">Masks & Treatments</label>
        </div>        
        <div class="flex"> 
            <input type="checkbox" id="" name="" value="Eye & Lip Care">
            <label for="Eye & Lip Care">Eye & Lip Care</label>
        </div>
        <div class="flex"> 
            <input type="checkbox" id="" name="" value="Moisturizers">
            <label for="Moisturizers">Moisturizers</label>
        </div>
        <div class="flex"> 
            <input type="checkbox" id="" name="" value="Serums">
            <label for="Serums">Serums</label>
        </div>
        <div class="flex"> 
            <input type="checkbox" id="" name="" value="Toners">
            <label for="Toners">Toners</label>
        </div>
    </form>

    <form action="">
        <div class="title">Skin Concerns</div>

        <div class="flex">
            <input type="checkbox" id="" name="" value="Anti-aging">
            <label for="Anti-aging">Anti-aging</label><br>
        </div>
        <div class="flex"> 
            <input type="checkbox" id="" name="" value="Dryness">
            <label for="Dryness">Dryness</label>
        </div>        
        <div class="flex"> 
            <input type="checkbox" id="" name="" value="Skin texture">
            <label for="Skin texture">Skin texture</label>
        </div>
        <div class="flex"> 
            <input type="checkbox" id="" name="" value="Acne">
            <label for="Acne">Acne</label>
        </div>
    </form>

    <form action="">
        <div class="title">Ingredients</div>

        <div class="flex">
            <input type="checkbox" id="" name="" value="Retinol">
            <label for="Retinol">Retinol</label><br>
        </div>
        <div class="flex"> 
            <input type="checkbox" id="" name="" value="Salicylic Acid">
            <label for="Salicylic Acid">Salicylic Acid</label>
        </div>        
        <div class="flex"> 
            <input type="checkbox" id="" name="" value="Vitamin C">
            <label for="Vitamin C">Vitamin C</label>
        </div>
        <div class="flex"> 
            <input type="checkbox" id="" name="" value="Niacinamide">
            <label for="Acne">Niacinamide</label>
        </div>
    </form>
</div>

