<section class="newsletter">
    <div class="container">
        <div class="right">
            <h3>Join the Nice Skin Club</h3>
            <h4>Get news, the latest arrivals and great promotions every week.</h4>
            <form>
                <label>
                    <input type="text" class="input" placeholder="Enter your name" />
                </label>
                <label>
                    <input type="email" class="input" placeholder="Enter your email" />
                </label>
                <input type="submit" class="btn submit" name="subscribe" id="subscribe" value="Join">
            </form>
        </div>
    </div>
</section>