.newsletter {    
    background-color: #f1f1f3;

    .container {
        background-image: url('../../../assets/images/newsletter.png');
        background-position: left;
        background-repeat: no-repeat;
        padding: 80px 0;
        background-size: contain;
    }

    h3 {
        font-size: 2.5rem;
        text-transform: uppercase;
        font-weight: 500;
        margin: 0;
    }

    h4 {
        font-size: 1.2rem;
        margin: 0;
    }

    form {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        gap: 15px;

        label {
            display: block;

            input {
                border: 0;
                border-bottom: 1px solid;
                padding: 10px 5px;
                background-color: transparent;
                text-transform: uppercase;
                width: 100%;

                &.submit{
                    background-color: #222;
                    color: #fff;
                    text-transform: uppercase;
                }
            }
        }

        ::placeholder {
            text-transform: uppercase;
        }
    }

    @media screen and (min-width: 1000px) {
        .container {
            display: flex;  
            justify-content: end; 
            background-size: 65%;
            padding: 150px 0;       
        }

        .right {
            max-width: 500px;
            
        }
    }
}