<app-featured></app-featured>

<app-bestsellers></app-bestsellers>

<section class="hero">
    <div class="container">
        <h2>Build your skin regimen</h2>
        <h3>Create your own personalized skin care and unique to your skin!</h3>
        <a href="#" class="btn white">Build now</a>
    </div>
</section>

<section class="categories">
    <div class="container">
        <ul>
            <li class="cleansers"><span>Facial Cleansers</span></li>
            <li class="toners"><span>Toners</span></li>
            <li class="serums"><span>Serums</span></li>
            <li class="eye"><span>Eye & Lip Care</span></li>
            <li class="body"><span>Body Care</span></li>
            <li class="moisturizer"><span>Moisturizers</span></li>
        </ul>
    </div>
</section>

<section class="about">
    <div class="container">
        <h3>Learn more about us</h3>
        <div class="flex">
            <div class="description">
                <p>Nice Skin is an evolving collection of treatments offering familiar, effective clinical technologies positioned to raise pricing and communication integrity in skincare.</p>
                <p>The brand was created to celebrate integrity in its most humble and true form. Its offering is pioneering, not in the familiar technologies it uses, but in its honesty and integrity. Nice Skin is born to disallow commodity to be disguised as ingenuity. Nice Skin is "Clinical formulations with integrity".</p>
                <a href="#">Click to read more about us</a>
            </div>

            <div class="scroll">
                <ul>
                    <li>
                        <img src="../../../assets/images/image1.webp"/> 
                        <p>Sustainability</p>
                    </li>
                    <li>
                        <img src="../../../assets/images/image2.webp"/> 
                        <p>Integrity</p>
                    </li>
                    <li>
                        <img src="../../../assets/images/image8.webp"/> 
                        <p>Accessibility</p>
                    </li>
                    <li>
                        <img src="../../../assets/images/image3.webp"/> 
                        <p>Recycle Program</p>
                    </li>
                    <li>
                        <img src="../../../assets/images/image4.webp"/> 
                        <p>Ingredients Glossary</p>
                    </li>
                    <li>
                        <img src="../../../assets/images/image5.webp"/> 
                        <p>Diversity</p>
                    </li>
                    <li>
                        <img src="../../../assets/images/image6.webp"/> 
                        <p>Fairness</p>
                    </li>
                    <li>
                        <img src="../../../assets/images/image7.webp"/> 
                        <p>Trust</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<app-newsletter></app-newsletter>
