$dark: #222;

.hero {
    background-color: #e9e7e8;

    .container {
        background-image: url(../../../assets/images/hero.png);
        background-position: right;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 100px 10%;
        max-width: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        color: #fff;

        @media screen and (min-width: 890px) { 
            background-size: contain;
            padding: 160px 0;
            max-width: 1300px;
            color: $dark;
            width: 90%;
        }
    }

    h2 {
        text-transform: uppercase;
        font-size: 3rem;
        margin: 0;
        font-weight: 500;
    }
}

.categories {
    padding: 50px 0;
    font-size: 1.6rem;
    text-align: center;
    font-weight: 300;

    ul {
        padding: 0;
        margin: 0;
        position: relative;
        
        li {
            list-style: none;
            padding: 20px 0;

            span {
                position: relative;
                cursor: pointer;

                &::before {
                    width: 30px;
                    height: 1px;
                    background-color: #a5a5a5;
                    content: ' ';
                    position: absolute;
                    left: -45px;
                    top: 50%;
                    display: none;
                }

                &::after {
                    width: 30px;
                    height: 1px;
                    background-color: #a5a5a5;
                    content: ' ';
                    position: absolute;
                    right: -45px;
                    top: 50%;
                    display: none;
                }
            }

            &:hover {
                span {
                    &::before, &::after {
                        display: block;
                    }
                }
            }

            @media screen and (min-width: 1140px) { 
                &.cleansers {
                    &::before {
                        width: 250px;
                        height: 300px;
                        content: ' ';
                        position: absolute;
                        top: 0;
                        left: 0;
                        background-image:url(../../../assets/images/cleasing1.webp);
                        display: none;
                        background-size: cover;
                    }
    
                    &::after {
                        width: 250px;
                        height: 300px;
                        content: ' ';
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        background-image:url(../../../assets/images/cleasing2.png);
                        display: none;
                        background-size: cover;
                    }

                    &:hover {
                        &::before, &::after {
                            display: block;
                        }
                    }
                }

                &.toners {
                    &::before {
                        width: 250px;
                        height: 300px;
                        content: ' ';
                        position: absolute;
                        top: 15%;
                        left: 0;
                        background-image:url(../../../assets/images/toners1.png);
                        display: none;
                        background-size: cover;
                    }
    
                    &::after {
                        width: 250px;
                        height: 300px;
                        content: ' ';
                        position: absolute;
                        bottom: 5%;
                        right: 0;
                        background-image:url(../../../assets/images/toners2.png);
                        display: none;
                        background-size: cover;
                    }

                    &:hover {
                        &::before, &::after {
                            display: block;
                        }
                    }
                }

                &.serums {
                    &::before {
                        width: 250px;
                        height: 300px;
                        content: ' ';
                        position: absolute;
                        top: 25%;
                        left: 0;
                        background-image:url(../../../assets/images/serum1.png);
                        display: none;
                        background-size: cover;
                    }
    
                    &::after {
                        width: 250px;
                        height: 300px;
                        content: ' ';
                        position: absolute;
                        bottom: 10%;
                        right: 0;
                        background-image:url(../../../assets/images/serum2.png);
                        display: none;
                        background-size: cover;
                    }

                    &:hover {
                        &::before, &::after {
                            display: block;
                        }
                    }
                }

                &.eye {
                    &::before {
                        width: 250px;
                        height: 300px;
                        content: ' ';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        background-image:url(../../../assets/images/eye1.png);
                        display: none;
                        background-size: cover;
                    }
    
                    &::after {
                        width: 250px;
                        height: 300px;
                        content: ' ';
                        position: absolute;
                        top: 0;
                        right: 0;
                        background-image:url(../../../assets/images/eye2.png);
                        display: none;
                        background-size: cover;
                    }

                    &:hover {
                        &::before, &::after {
                            display: block;
                        }
                    }
                }

                &.body {
                    &::before {
                        width: 250px;
                        height: 300px;
                        content: ' ';
                        position: absolute;
                        top: 15%;
                        left: 0;
                        background-image:url(../../../assets/images/body1.png);
                        display: none;
                        background-size: cover;
                    }
    
                    &::after {
                        width: 250px;
                        height: 300px;
                        content: ' ';
                        position: absolute;
                        bottom: 5%;
                        right: 0;
                        background-image:url(../../../assets/images/body2.png);
                        display: none;
                        background-size: cover;
                    }

                    &:hover {
                        &::before, &::after {
                            display: block;
                        }
                    }
                }

                &.moisturizer {
                    &::before {
                        width: 250px;
                        height: 300px;
                        content: ' ';
                        position: absolute;
                        top: 15%;
                        left: 0;
                        background-image:url(../../../assets/images/moisturizer1.png);
                        display: none;
                        background-size: cover;
                    }
    
                    &::after {
                        width: 250px;
                        height: 300px;
                        content: ' ';
                        position: absolute;
                        bottom: 5%;
                        right: 0;
                        background-image:url(../../../assets/images/moisturizer2.png);
                        display: none;
                        background-size: cover;
                    }

                    &:hover {
                        &::before, &::after {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

.about {
    padding: 30px 0;
    position: relative;
    
    h3 {
        font-size: 1.6rem;
        text-transform: uppercase;
        text-align: center;
    }

    .flex {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        gap: 20px;

        .description {
            a {
                text-decoration: underline;
            }
        }

        .scroll {
            overflow-y: hidden;
            overflow-x: scroll;
            width: 100%;
            padding-bottom: 15px;

            ul {
                margin: 0;
                padding: 0;
                display: flex;
                width: 2500px;
                gap: 20px;
                padding-right: 20px;
    
                li {
                    list-style: none;
                    width: 300px;
    
                    img {
                        width: 100%;
                    }

                    p {
                        font-weight: 500;
                    }
                }
            }
        }        
    }

    @media screen and (min-width: 940px) {
        min-height: 550px;

        .flex {
            flex-direction: row;
            gap: 60px;
            margin-top: 50px;

            .description {
                width: 32%;
                max-width: 350px;
            }

            .scroll {
                width: 60%;
                position: absolute;
                left: 40%;
            }
        }
    }
}